<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ThinkSharp.Licensing.Activator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ThinkSharp.Licensing.Activator.Properties.Settings>
            <setting name="ActivationUrl" serializeAs="String">
                <value>http://Licensing.FeatureTour.de</value>
            </setting>
            <setting name="GetSerialNumberUrl" serializeAs="String">
                <value>http://GetSerialNumber.FeatureTour.de</value>
            </setting>
            <setting name="Product" serializeAs="String">
                <value>FeatureTour</value>
            </setting>
        </ThinkSharp.Licensing.Activator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
